header
	+clearfix

	background:
		image: url('../images/fundo_cabecalho.jpg')
	//	position:
	//	attachment:
	//	size:

	.links
		float: right

		nav
			ul
				li
					display: incline-block
					a
						color: $branco
						text-transform: uppercase

		.social
			li
				display: incline-block
				a
					color: $branco

	h1,
	p
		color: $branco